* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(/public/media/mesh.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 20px 5px 20px;

}

.item1 {
    display: flex;
    flex-direction: column;
}

.item2 {
    display: flex;
    flex-direction: column;

}

#title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 54px;
}

#title-bar #logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-bar #logo h2 {
    font-size: 16px;
    color: #413d3e;
}

#title-bar #logo img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

#title-bar #label {
    font-size: 14px;
    color: #413d3e;
}

#main #chart-container {
    width: 820px;
    border-radius: 9px;
    margin-top: 20px;
    background-color: white;
}

#main .item h2 {
    font-size: 22px;
    color: black;
}

.cards {

    width: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 10px 0px;

}

.cards img {
    height: 22px;
    width: 22px;
    margin: 0px 0px 30px 0px;
}

.cards .card-data {
    font-size: 24px;
    color: black;

}

.cards .card-label {
    color: #9ba2a7;
    margin-top: 6px;
    font-size: 14px;
}